{% extends 'layout.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('GET_cards') }}">Cards</a></li>
        <li><a href="{{ path('GET_reports_time') }}">Time</a></li>
    </ul>
{% endblock %}
